/* src/theme.css */

@theme {
  /* 🎨 Custom Colors */
  --color-primary: #050816;
  --color-secondary: #aaa6c3;
  --color-tertiary: #151030;
  --color-black-100: #100d25;
  --color-black-200: #090325;
  --color-white-100: #f3f3f3;

  /* 🌀 Shadows */
  --shadow-card: 0px 35px 120px -15px #211e35;

  /* 📱 Breakpoints */
  --breakpoint-xs: 450px;

  /* 🌄 Backgrounds */
  --background-hero-pattern: url('/src/assets/herobg.png');
}
